
#contenido{
	/*height:100%;
	width:100%;*/
}
	h1 a{
	/*text-indent:-9000px;*/
	overflow:hidden;
	background-image:url(/nombrefederico-trans.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	width:421px;
	height:36px;
	display:block;
	position:absolute;
	right:10px;
	top:10px;	
}
 	h1{ 
	text-indent:-9000px;
	overflow:hidden;
	color:red;
	/*text-align:right;*/
	font-family:"Courier New";
}

body{
	background-image:url(/fondomenu.jpg);
	/*background-color: #000000;*/
}

/*#titulo{
	text-align:right;
}*/


#botones{
	/*background-color: #000000;*/
	z-index:1;
	position:absolute;
	right:50px;
	top:50px;
	width:102px;
	margin: 300px 100px 0px 0px;
	border:0px;
}

#botones a{
	/*background-color: #000000;*/
	float:right;
	width:99px;
	margin: 5px 0px 5px 0px;
	border:0px;
}

#botones a img{
	/*background-color: #000000;*/
	/*float:right;*/
	width:99px;
	border:0px;
}

ul#navegacion{
	height:100%;
	width:300px;
	/*text-align:right;*/
	font-family:"Courier New";
	border:none;
	margin: -10px 0px 0px 0px
	/*background:black;*/
}

ul#navegacion li a{
	background:#000000;
	display:block;
	margin: 10px 20px 10px 10px;
	/*padding: 25px 80px;*/
	border:none;
	color:white;
	text-decoration:none;
/*	padding: 20px 0px 0px 80px*/
	/*text-align:right;*/
}

ul#navegacion li a.pintura{
	height:15px;
	background-image:url(/pintura1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}

ul#navegacion li a.pintura:hover{
	height:15px;
	background-image:url(/pintura1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}

ul#navegacion li a.analoga{
	height:25px;
	background-image:url(/fotoa1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 15px 80px 25px;
}

ul#navegacion li a.analoga:hover{
	height:25px;
	background-image:url(/fotoa1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 15px 80px 25px;
}

ul#navegacion li a.digital{
	height:25px;
	background-image:url(/fotod1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 15px 80px 25px;
}

ul#navegacion li a.digital:hover{
	height:25px;
	background-image:url(/fotod1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 15px 80px 25px;
}

ul#navegacion li a.dibujos{
	height:15px;
	background-image:url(/dibujo1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}

ul#navegacion li a.dibujos:hover{
	height:15px;
	background-image:url(/dibujo1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}

ul#navegacion li a.books{
	height:15px;
	background-image:url(/books1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}

ul#navegacion li a.books:hover{
	height:15px;
	background-image:url(/books1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}

ul#navegacion li a.orales{
	height:15px;
	background-image:url(/oral1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}

ul#navegacion li a.orales:hover{
	height:15px;
	background-image:url(/oral1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}


ul#navegacion li a.autorretrato{
	height:15px;
	background-image:url(/autorretrato1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}

ul#navegacion li a.autorretrato:hover{
	height:15px;
	background-image:url(/autorretrato1.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}


ul#navegacion li a.info{
	height:15px;
	background-image:url(/info.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}

ul#navegacion li a.info:hover{
	height:15px;
	background-image:url(/info.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}

ul#navegacion li a.contacto{
	height:15px;
	background-image:url(/contacto.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}

ul#navegacion li a.contacto:hover{
	height:15px;
	background-image:url(/contacto.jpg);
	background-repeat:no-repeat;
	background-position: 10px 8px;
	padding: 25px 80px;
}

ul#navegacion li a:hover{
	background:#A0A0A0;
	display:block;
	margin: 10px 20px 10px 0px;
	/*padding: 25px 80px;*/
	border:none;
	color:black;
	text-decoration:none;
	/*padding: 20px 0px 0px 80px*/
	/*text-align:right;*/
}


ul#navegacion li a img{
	margin: 8px 0px 0px 10px;
	border:none;
}

a.pintura{
	background-image:url(/pintura1.jpg)
}
